/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: goldenrod;
    margin-bottom: 10px;

    /* TEST */
    height: 150px;
}

/* Main */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main {
    background-color: purple;
    width: 66%;
    color: white;
}

.main-content {
    padding: 10px;
}
.main-content h2 {
    margin: 10px 0;
}
article {
    margin-bottom: 20px;
}

/* Aside */
aside {
    background-color: violet;
    width: 33%;
}
.aside-content {
    padding: 20px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertising {
    width: 80%;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 25px;
}

/* Footer */
footer {
    background-color: lightblue;
    margin-top: 10px;

    /* TEST */
    height: 150px;
}